* {
    margin: 0;
    padding: 0;
}

*::before, *::after {
    box-sizing: border-box;
}

h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 0.5em;
    text-align: center;
}

p {
    font-size: 1em;
    color: #666;
    line-height: 1.5;
    margin-bottom: 1em;
    text-align: center;
}