body{
      background-image: linear-gradient( #101314, #662C20);
      background-repeat: no-repeat;
      background-attachment: fixed;
      color: #FFFFE3;
    }

      /* styling on NavBar */
    .navBar{
      background-color: #242327;
      margin: 0;
      padding: 5px;
      display: flex;
      flex-direction: row;
    }

    

    img{
      width:20 ;
      height: 428px;
      border-radius: 5px;
    }

    /* On mouse-over, add a deeper shadow */
    .card:hover {
      box-shadow: 0 8px 7px 0 #251E1A;
    }

    /* Add some padding inside the card container */
    .container {
        /* max-width: 2000px; */
        height: 100px;
        margin: 20px;
        padding-left: 10%; 
        padding-right: 10%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items:center;
        position: relative;
    }

    .card-container-class {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      max-width: 2000px;
      position: relative;
    }
    
    .card {
      /* Add shadows to create the "card" effect */
     box-shadow: 0 8px 7px 0 black;
      transition: 0.3s;
      width: 300px;
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
      justify-self: center;
      margin: 20px;
      background-color: rgba(255, 255, 255, 0.176);
      border-radius: 5px;
    }

    .card:active{
      background-color:rgba(255, 255, 255, 0.466);
      box-shadow: 0 5px black;
      transform: translateY(4px);

    }


    a:link, a:visited , .items{
      background-color: #913928;
      color: white;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border-radius: 5px;
      align-self: center;
      margin: 5px;
      cursor: pointer;
    }
    p{
      text-align: center;
      justify-content: center;
      margin: 0;
      padding: 0;
      font-size: 15px;
    }

    /* #hover-text{
      visibility: hidden;
      opacity: 0;
      transition: transform 0.3s ease-in-out;
      position: absolute;
      top: 50%;
      transform: translateY(100%);
      overflow: hidden;
      background-color: #101314;
      margin: 0;
      padding: 0;

    }
    #hover-container:hover #hover-text{
      visibility: visible;
      opacity: 1;
      display: block;
      transform: rotateY(0);
    } */
    
    /* .card::after{
      position: absolute;
      inset: 0;
      object-position: 0;
      transition: 0.4s ease-in-out;
    } */
     footer{
      background-color: #242327;
      position: fixed;
      bottom: 0;
      padding: 5px;
     }
     
    
