/* Resets */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles, centering the card */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(240, 240, 240);
    font-family: outfit, sans-serif;
}

/* Image resets */
img {
    max-width: 100%;
    display: block;
}

/* Card styles */
.card {
    background-color: rgb(65, 45, 238);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    overflow: hidden;
}

.card__body {
    padding: 20px;
}

.card__title {
    font-size: 24px;
    margin-bottom: 10px;
    color: rgb(247, 245, 245);
}

.card__description {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    color: rgb(247, 245, 245);
}

.my__image {
    object-fit: cover;
    width: 100%;
    height: 40vh;
    border-radius: 10px 10px 0 0; /* Rounded corners for the top of the card */
}

.my__image:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.my__image:active {
    transform: scale(1);
    transition: transform 0.1s ease;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.socials ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0.5rem 0.5rem;
}

.socials ul li a {
    text-decoration: none;
    color: rgb(247, 245, 245);
    font-size: 1.7rem;
}

/* Hover effects for the card */
.card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease;
}

.card__footer {
    padding: 10px 20px;
    text-align: center;
}

.card__btn {
    background-color: rgb(247, 245, 245);
    color: rgb(65, 45, 238);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card__btn:hover {
    background-color: rgb(230, 230, 230);
    transition: background-color 0.3s ease;
}

.card__btn:active {
    background-color: rgb(210, 210, 210);
    transition: background-color 0.1s ease;
}

/* Responsive styles */
@media (max-width: 600px) {
    .card {
        width: 70%;
    }

    .my__image {
        height: 40vh; /* Adjust image height for smaller screens */
    }
}