*,*::before,*::after {
  box-sizing: border-box;
  margin: 0;
    padding: 0;
}

body {
  /* Add accessible line-height */
  line-height: 1.5;
  /* Improve text rendering */
  -webkit-font-smoothing: antialiased;

  /* Centering elements on the page */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
html {
  /* Set a consistent font size */
  font-size: 16px;
  /* Use a system font stack for better performance */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Ion icon styles */
ion-icon {
  font-size: 1.5rem;
  color: rgba(216, 216, 14, 0.911);
  transition: color 0.3s ease-in-out;
  display: block;
}

/* Card styles */
.dev__card {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 550px;
    gap: 1.5rem;
    padding: 1rem;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(214, 204, 204, 0.5);
    background-color: rgb(41,56,88);
    color: rgba(216, 216, 14, 0.911);
}

.card__image {
    width: 450px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    border: 3px solid rgb(204, 204, 204);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card__image:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.dev__card h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: rgba(216, 216, 14, 0.911);

}

.dev__card p {
    font-size: 1rem;
    color: rgba(216, 216, 14, 0.911);
}

.skills__list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.1rem;
}

.skills__title {
    width: 100%;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    color: rgb(102, 102, 102);
}

.skills__list li {
    list-style: none;
    padding: 0.5rem;
}

.contact__list {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.contact__list a {
    text-decoration: none;
    color: rgba(216, 216, 14, 0.911);
    font-size: 1.1rem;
    transition: color 0.3s ease-in-out;
}

.contact__list a:hover {
    text-decoration: underline;
    color: rgba(182, 182, 79, 0.911);
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}