* {
    margin: 0;
    padding: 0;
}

*::before *::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.my__image {
    width: 100%;
    height: auto;
    max-width: 200px;
    margin: 0 auto;
    object-fit: cover;
}

.card__home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 700px;
    background-color: #b1acac;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card__info {
    background-color: #333333;
    color: #ffffff;
    padding: 1rem;
}